<div class="grid-container">
	<div class="grid-x grid-margin-x">
		<div class="small-12 large-6 cell">
			<h2>Julien Gayraud </h2>
			<span class="contact-title">Email :</span> julien_gayraud@hotmail.fr <hr>
			<span class="contact-title">Tél :</span> 06.41.77.00.54 <hr>
			<span class="contact-title">Adresse de la boutique :</span> La rouquette 81440 Peyregoux 
		</div>
		<div class="map-container small-12 large-6 cell">
			<agm-map [latitude]="lat" [longitude]="lng" [zoom]="13">
			  	<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
			</agm-map>
		</div>
	</div>
</div>