<div class="grid-x align-center grid-padding-x align-middle" [@visibilityChanged]="visibility" style="opacity:0">
  <div class="catcher">
    Découvrez l'univers gourmand et raffiné de Julien Gayraud
  </div>
</div>

<div [hidden]="!error" class="alert alert-danger" role="alert">
  <span class="glyficon glificon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error this.typesService.getTypesOnly() :</span>
  {{ error }}
</div>

<div class="grid-x grid-padding-x" [@visibilityChanged]="visibility" style="opacity:0">
  <app-nav-tree *ngFor="let type of data" [parentType]="type" class="cell small-12 large-6"></app-nav-tree>
</div>

<div class="loader" [@visibilityChanged]="loader" >
	<div class="spinner pulse-spinner"></div>
</div>