<div  [@visibilityChanged]="visibility" >

	<ul class="tab-list">
		<li class="tab-box">
			<a [routerLink]="['/shop/chocolats']"  class="tab" routerLinkActive="active-tab">Chocolats</a>
		</li>
		<li class="tab-box" >
			<a [routerLink]="['/shop/confiseries']"  class="tab" routerLinkActive="active-tab">Confiseries</a>
		</li>
	</ul>
	<br>

	<div class="grid-x grid-margin-x" style="margin-left: 20px; margin-right: 20px">
		<my-category-list class="small-4 large-2 cell" [data]="data"></my-category-list>
		<my-product-list class="small-8 large-10 cell" [data]="data"></my-product-list>
	</div>
</div>