<div class="grid-x grid-margin-x" [@openingAnimation]="products.length">
	<div class="small-6 medium-4 large-3 cell" *ngFor="let product of products | filterUnique">

		<div class="card card-gj">
			<div class="img-header ">
				<img
				class="card-img"
				src="assets/img/product/{{product.imageName}}"
				/>

				<div
				class="overlayer"
				routerLink="/shop/{{type}}/{{product.id}}"
				on-mouseleave="visibility[product.id] = 'false'"
				on-mouseenter="visibility[product.id] = 'true'"
				[@visibilityChanged]="visibility[product.id]"
				style = "opacity: 0"
				>
					<button class="overlayer-text" routerLink="/shop/{{type}}/{{product.id}}" >
						<i class="fa fa-plus" aria-hidden="true"></i> Détails
					</button>
				</div>
			</div>

			<div class="card-section">
				<div>
					<span class="product-name">{{product.name}}</span> <span class="product-price">{{product.price}} €/{{product.unity}}</span>
					<div class="product-quantity">
						<button class="button tiny quantity-button" *ngIf="product.qte" (click)="deleteQte(product)"><i class="fa fa-minus" aria-hidden="true"></i></button>
						<span *ngIf="product.qte" >{{product.qte}}</span>
						<span *ngIf="!product.qte" >0</span>
						<span> {{product.unity}}</span>
						<button class="button tiny quantity-button" (click)="addQte(product)"><i class="fa fa-plus" aria-hidden="true"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="loader" [@visibilityChanged]="loader" >
	<div class="spinner pulse-spinner"></div>
</div>

