<div class="my-navbar" [@headerAnimation]="headerImg" style="opacity: 0" [ngClass]="{'my-nav-spaced': menu}" >
	<a routerLink="/accueil" class="clear button brown large menu-link main-link" [ngClass]="{'show-menu': menu}">Accueil</a>
    <a routerLink="/shop/chocolats" class="clear button brown large menu-link" [ngClass]="{'show-menu': menu}" >Chocolats</a>
    <a routerLink="/shop/confiseries" class="clear button brown large menu-link" [ngClass]="{'show-menu': menu}" >Confiseries</a>
    <img src="assets/img/logo/logo.png" alt="Logo" class="logo" (load)="headerImgLoaded()">
    <a routerLink="/profil" class="clear button brown large menu-link" [ngClass]="{'show-menu': menu}">Profil</a>
    <a routerLink="/creations" class="clear button brown large menu-link" [ngClass]="{'show-menu': menu}" >Mes créations</a>
    <a routerLink="/contact" class="clear button brown large menu-link" [ngClass]="{'show-menu': menu}" >Contact</a>
    <a routerLink="/panier" class="clear button brown large menu-link" [ngClass]="{'show-menu': menu}" >
		<i class="fa fa-shopping-cart" aria-hidden="true"></i>
	</a>
	<a class="sandwich clear button brown large" (click)="showMenu()" >
		<i class="fa fa-bars"></i>
	</a>
</div>
