@import "node_modules/foundation-sites/scss/foundation";
@import "shop/shop.style";
@import "colors";
@import "contact/contact";
@import "profile/profile";
@import "typo";
@import "creations/creations";
@import "loader/loader";
@import "home/home";
html {
    overflow-y: scroll;
}

.navbar {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

h1 {
    padding: 10px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    font-family: $titles;
    margin: 0px;
}

h2 {
    color: $brown;
    font-family: $titles;
    font-size: 36px;
}

p {
    text-align: justify;
    font-size: 16px;
}

body {
    font-family: $text !important;
}

.logo {
    height: 125px;
    width: auto;
}

.button.brown {
    color: $brown;
}

.button.brown:hover {
    color: $light-brown;
}

.button.brown:focus {
    color: $light-brown;
}

.catcher {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 17px;
    font-family: $titles;
}

.header {
    margin-bottom: 10px;
}

.menu-link {
    font-family: $text;
    font-weight: bold;
    padding: 10px;
}

.type-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
}

.type-button {
    color: white;
    font-family: $text;
    font-size: 20px;
    padding: 10px;
    font-family: $text !important;
    background-color: transparent;
    cursor: pointer;
    border: solid 2px white;
    border-radius: 5px;
}

.type-button:hover {
    color: white;
}

.type-presentation {
    padding-top: 25px;
}

.classic-button {
    color: $light-brown;
    padding: 10px;
    background-color: transparent;
    border: solid 2px $light-brown;
    border-radius: 5px;
    cursor: pointer;
	transition: ease 300ms;
	font-size: 18px;
}

.classic-button:hover {
    color: white;
    background-color: $light-brown;
}