.box {
	background-size: cover;
	display: flex;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.h-75 {
	height: 75vh;
}

.h-100 {
	height: 100%
}

.box-content {
	align-items: stretch;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.4);
	transition: all ease-in-out 300ms;
}

.box-content:hover {
	background-color: rgba(0, 0, 0, 0);
}

.white {
	color: white;
}

.light-grey {
	color: #eee;
	margin: 10px;
	padding-right: 20px;
}

.black-filter {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;

}