@import '../colors';
@import 'card';


.tab-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: $light-grey;
	margin-bottom: -2px;
	height: 59px;
	padding-left: 20px;
}

.tab-box {
    float: left;
}

.tab {
    display: block;
    color: $brown;
    text-align: center;
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
    text-decoration: none;
    padding-top:16px;
    padding-bottom: 16px;
    padding-right: 50px;
    padding-left: 50px;
    border-style: solid;
	border-width: 1px;
    border-color: $light-borders;
}

/* Change the link color to #111 (black) on hover */
.tab:hover, .tab:focus {
    color: $light-brown;
}

.active-tab {
	color: $light-brown;
	background-color: white;
	border-top-color: $brown;
	border-top: solid 2px;
	border-bottom-width: 1px;
	background: white;
	padding-top: 15px;
	border-bottom: solid 4px white;
}

.menu-item {
    color: $brown;
}

.menu-item:hover {
    color: $light-brown;
}

.menu-item-clicked {
    color: $light-brown;
}