<div class="contentpage" style="opacity: 0" [@visibilityChanged]="loader == 'false'">
  <div class="grid-container my-container-margin">
    <h2>Votre Panier</h2>
    <div class="grid-x grid-margin-x">
      <div class="cell auto">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Références</th>
              <th>Quantité</th>
              <th>Prix (tva)</th>
              <th>Total TTC</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="products.length == 0">
              <td colspan="4">
                <div>Aucun article dans votre panier</div>
              </td>
            </tr>

            <tr *ngFor="let product of products">
              <td>{{ product.name }}</td>
              <td class='basket-item-wrapper' >
                <button class="button tiny quantity-button" *ngIf="product.qte" (click)="deleteQte(product)"><i class="fa fa-minus" aria-hidden="true"></i></button>
                <span *ngIf="product.qte">{{product.qte}}</span>
                <span *ngIf="!product.qte">0</span>
                <span> {{product.unit}}</span>
                <button class="button tiny quantity-button" (click)="addQte(product)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                <div class="trash-item-wrapper">
                  <button class='trash-button' (click)="deleteformbasket(product.id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </div>
              </td>
              <td>{{ product.price * (1 + product.tva.tva) }}€/{{ product.step }} {{ product.unit }} ( {{product.tva.tva *100}}% )</td>
              <td>{{ (product.qte/product.step) * product.price * ( 1 + product.tva.tva ) | number: '1.2-2' }} € </td>
            </tr>
            <tr>
              <td><b>Total</b></td>
              <td></td>
              <td></td>
              <td>
                <b>
                  {{ totalTTC }} €
                </b>
              </td>
            </tr>

          </tbody>
        </table>

        <a *ngIf="products.length > 0" routerLink="/commande" class="button classic-button pull-right">Valider mon panier</a>

        <a routerLink="/shop/chocolats" class="button classic-button">Continuer mes achats</a>

      </div>
    </div> 
  </div>
</div>

<div class="loader" [@visibilityChanged]="loader == 'true'" *ngIf="loader=='true'">
  <div class="spinner pulse-spinner"></div>
</div>

<!-- <div class="btn btn-primary" (click)="addProduct(1)">add product 1</div>
<div class="btn btn-primary" (click)="addProduct(12,8)">add product 12 qte 8</div>
<div class="btn btn-primary" (click)="addProduct(10,4)">add product 10 qte 4</div>
<div class="btn btn-primary" (click)="addProduct(4,6)">add product 4 qte 4</div>
<div class="btn btn-primary" (click)="getBasket()">getBasket</div>
<div class="btn btn-primary" (click)="clearSession()">clearSession</div> -->
