<div class="grid-container">
	<img src="assets/img/profile/profile_pic.jpg" alt="" class="profile-pic">
	
	<div>
		
		<h2>Pourquoi je fais du chocolat</h2>
		<small>Article de la dépêche n*******</small>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet id doloribus aliquid ullam odit accusamus, nostrum laborum placeat quidem deserunt mollitia consequuntur sequi soluta amet, doloremque dicta. Dolorum nihil, delectus!
			<br><br>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet id doloribus aliquid ullam odit accusamus, nostrum laborum placeat quidem deserunt mollitia consequuntur sequi soluta amet, doloremque dicta. Dolorum nihil, delectus!
			<br><br>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet id doloribus aliquid ullam odit accusamus, nostrum laborum placeat quidem deserunt mollitia consequuntur sequi soluta amet, doloremque dicta. Dolorum nihil, delectus!
			<br><br>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet id doloribus aliquid ullam odit accusamus, nostrum laborum placeat quidem deserunt mollitia consequuntur sequi soluta amet, doloremque dicta. Dolorum nihil, delectus!
			<br><br>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet id doloribus aliquid ullam odit accusamus, nostrum laborum placeat quidem deserunt mollitia consequuntur sequi soluta amet, doloremque dicta. Dolorum nihil, delectus!
			<br><br>
		</p>
	</div>
</div>