.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}


.vicopo_list{
  max-height:250px;
  position: absolute;
  overflow-y: auto;
  background-color: #FAFAFA;
  z-index: 100;
}

